.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
}

.header {
  margin: 0;
  flex-grow: 0;
  color: white;
  display: flex;
  padding: 8px;
  font-size: small;
}

.about {
  background-color: #fafafa;
  color: black;
  padding-left: 15%;
  padding-right: 15%;
}

.left {
  flex-grow: 1;
}

.right {
  flex-grow: 1;
  text-align: right;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

.header a:visited {
  color: white;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.map .status {
  flex-grow: 0;
  color: white;
  display: flex;
  padding: 8px;
  font-size: x-large;
  align-items: baseline;
  background-color: #535353;
}

.map .leaflet-container {
  height: 500px;
  flex-grow: 1;
}

.adjusthue {
  filter: hue-rotate(120deg);
}
